<snippet name="Multiple Files" tags="A C" scripts="scripts/snippet1.js scripts/snippet2.js scripts/snippet3.js" start>
    <p>This is an example to test the usage of multiple files (arrays) in the config file.</p>
    <p>X should be 3 (story scripts) -> X = <%= s.x %></p>
    <p>Y should be 30 (global scripts) -> Y = <%= s.y %></p>
    <p>Z should be 200 (tag scripts) -> Z = <%= s.z %></p>
    <p>W should be 3000 (snippet scripts) -> W = <%= s.w %></p>
    <p>The background should be blue.</p>
</snippet>
