<snippet name="Castle" tags="THE_WILD CASTLE">
    <p>Oh, I'm in the castle!</p>
    <p>I've found another person to watch me! Yay!</p>
    <p>[[Back to the beginning|Intro]]!</p>
    <% s.PEOPLE_WATCHING++ %>
</snippet>
