<snippet name="Line Break 1" start>
    <p>
        Text with no point, not at all, just enough to make [[this link|Line
        Break 2]] break into multiple lines.
    </p>
    <p>
        Same goes for this text, but the point is to break the text in [[this
        link here|Line Break 2]]
    </p>
</snippet>

<snippet name="Line Break 2">
    <p>Success! Go [[back|Line Break 1]]</p>
</snippet>
